<div class="container-wrapper">
  <button routerLink="/getdeed">Get Deed</button>
  <button routerLink="/givedeed">Give Deed</button>
</div>

<!-- <div class="center-align">
  <div class="row">
    <a routerLink="/getdeed">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text center">
            <h2>
              GET DEED
            </h2>
          </span>
        </div>
      </div>
    </a>


    <div class="row">
      <a routerLink="/givedeed">
        <div class="col s12 m5">
          <div class="card-panel teal">
            <span class="white-text center">
              <h2>
                GIVE DEED
              </h2>
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->
