<app-navbar></app-navbar>
<div class="get-container">
  <h2 id="get-deed-header">Choose A Deed</h2>

  <div id="viewport">
    <ul class="stack" swing-stack [stackConfig]="stackConfig" #myswing1 (throwout)="onThrowOut($event)">
      <li swing-card #mycards1 [ngClass]="deed.description" *ngFor="let deed of deeds">{{ deed.description }}</li>
    </ul>
  </div>
  <button class="waves-effect waves-light btn-large" (click)="goBack()">Back</button>

</div>

<!-- <div id="source">
      <p>Drag the playing cards out of the stack and let go. Dragging them
        beyond the desk will throw them out of the stack. If you drag too
        little and let go, the cards will spring back into place. You can
        throw cards back into the stack after you have thrown them out.
        Current demo logs the direction on left and bottom only (configurable
        in the component).</p>
      <p>Open the <a href="https://developer.chrome.com/devtools/docs/console">
        Console</a> to view the associated events.<p>
      <p>Demonstration of <a href="https://github.com/ksachdeva/angular2-swing">
        https://github.com/ksachdeva/angular2-swing</a> implementation.</p>
  </div> -->
