@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');
@import 'normalize';
// TODO: create partials folder
// create _colors.scss for:
$green: #4acfa1;
$blue: #199dcd;
$dark-green: #138789;
// TODO:
// create _typography.scss for:
$poppins: 'Poppins', 'arial', 'sans serif';
$poppins-light: 300;
$poppins-reg: 400;
$poppins-bold: 600;
body {
  background-image: linear-gradient($blue, $green);
  background-repeat: no-repeat;
  font-family: $poppins;
  font-weight: $poppins-light;
  font-size: 2rem;
  color: white;
  height: 100%;
  .get-container {
    height: 90vh;
  }
}

h1,
h2,
h3 {
  font-family: $poppins;
  font-weight: $poppins-bold;
  color: white;
  margin: 0px;
  padding: 10px 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 1.6rem 0;
}

h2 {
  font-size: 2.2rem;
}

h1 {
  font-size: 3rem;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

nav {
  background: none;
  text-align: center;
  letter-spacing: 2px;
}

.card {
  padding: 50px 20px;
  form {
    width: 90%;
    margin: auto;
  }
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.2rem;
  .back-btn {
    font-size: 1.2rem;
    flex: 0 0 auto;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .submit-btn {
    flex: 0 0 auto;
    border: 0px;
    border-bottom: 4px solid $dark-green;
    font-size: 1rem;
    border-radius: 1.9rem;
    padding: 7px 15px;
    background: $green;
    color: white;
    transition: ease-in 0.2s;
    text-transform: uppercase;
    &:hover {
      background-color: $dark-green;
    }
  }
}

.collection {
  list-style: none;
  padding: 0 20px;
  li {
    display: inline-flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
    .description {
      flex: 0 0 80%;
      font-size: 1.1rem;
    }
    > a {
      flex: 0 0 20px;
      padding-left: 20px;
    }
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  background: url('../assets/hands.svg');
  background-color: white;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-container {
  // height: 100vh;
  a {
    color: white;
  }
}

#give-btn,
#get-btn {
  width: 100%;
  height: 50vh;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: $poppins-bold;
}

#get-btn {
  border-bottom: 10px solid white;
}

.field__input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: 1em;
}

.field {
  display: inline-block;
}

.field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.field_animated {
  --uiFieldHeight: var(--fieldHeight, 40px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 3px);
  --uiFieldBorderColor: var(--fieldBorderColor);
  --uiFieldFontSize: var(--fieldFontSize, 1.2rem);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
  width: 100%;
}

.field_animated .field__input {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.field_animated .field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.field_animated .field__input:focus {
  outline: none;
}

.field_animated
  .field__input:not(::placeholder-shown)
  ~ .field__label-wrap
  .field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.field_animated .field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.field_animated .field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);
  pointer-events: none;
  cursor: text;
  position: absolute;
  bottom: 0;
  left: 0;
}

.field_animated .field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: var(--uiFieldPaddingBottom);
  line-height: 1;
  font-size: 1.5rem;
  pointer-events: none;
  transition: bottom 0.5s linear(0.9, -0.15, 0.1, 1.15), opacity 0.5s ease-out;
  will-change: bottom, opacity;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field_animated .field__input:focus ~ .field__label-wrap .field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
  font-size: 0.9rem;
  color: #4acfa1;
}

.field_a2 .field__label-wrap:after {
  content: '';
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: width;
  transition: width 0.285s ease-out;
}

.field_a2 .field__input:focus ~ .field__label-wrap:after {
  width: 100%;
}

.field {
  --fieldBorderColor: #eeeeee;
  --fieldBorderColorActive: #4acfa1;
}

#deeds-container {
  background: white;
  #list-header {
    color: $blue;
    letter-spacing: 2px;
  }
}
